body {
    background-color: #ACBFE1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    text-align:center;
    color: #4F7FE1;
}
.about {
    color:rgb(52, 142, 202);
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
}
h2 {
    color: #6F4FE0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.projects { display:flex; flex-wrap:wrap; }
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
    }
    a { /* change the appearance of ALL links */
        text-decoration: none;
        color: purple;
        }
        .project p { /* change the appearance of paragraph tags inside .project divs */
        text-align: center;
        margin: 15px;
        }